.menu{
    position: absolute;
    height: 100vh;
    background-color: #FFFDFA;
    width: 70vw;
    top: 70px;
    right: 0;
    display: none;

    @media screen and (min-width: 1024px) {
        position: static;
        height: auto;
        width: auto;
    }

    &--show{
        display: block;
        @media screen and (min-width: 1024px) {
            position: static;
            height: auto;
            width: auto;
        }
    }

    &__icon{
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }


    &__ul{
        color: #00001A;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        padding-left: 4rem;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            padding: 0;
            color: #5E607A;
            font-weight: 400;
    font-size: 15px;
        }
    }
}
