.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    @media screen and (min-width: 1024px) {
        margin: 2rem 5rem;
        margin-top: 4rem;
    }


}

